@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 padding: 0;
 margin: 0;
 font-family: 'Satoshi';
}
.backgroundImage {
    background-image:url('../images/Rectangle\ 335\ \(1\).png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   }
   .bgImage {
    background-image:url('../images/Rectangle\ 308.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
   }
   .buttonStyle{
    border-radius: 5px;
    border: 1px solid darkgrey;
    background-color:lightgray;
    padding:5px 10px 5px 10px;
    font-size: small;
   }